<!DOCTYPE html>
<html>

<head>
    <title>Cafecert - Recuperar contraseña</title>
</head>
<div class="container">
    
    <div class="d-flex justify-content-center">
        <label style="font-family: Verdana, sans-serif;font-size: 20px;color:#881010">Recuperar contraseña</label>
    </div>

    <div class="login-container">
        
        <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
            <div class="login-container-form">
                <div class="row">
                    <div class="col">
                        <label class="label-login">Ingresa tu usuario</label>
                        <input type="text" formControlName="username" class="form-control" placeholder="Usuario"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Usuario es requerido</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button [disabled]="loading" class="btn  btn-login">
                            Recuperar contraseña
                        </button>
                        <button title="Iniciar sesion" class="btn button-manage" (click)="volveralogin()">
                            <label class="label-login" style="cursor: pointer">Log In</label>
                        </button>
                    </div>
                </div>
            </div>


        </form>
    </div>
    <div class="return-link">
        <button type="button" class="btn btn-link" style="color:#881010" (click)="volveralogin()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Regresar
        </button>
    </div>
</div>

</html>