<div class="container">
    <div class="d-flex justify-content-center">
        <div class="return-link">
            <button type="button" class="btn btn-link" style="color:#881010" (click)="regresarflujo()">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                Regresar a la lista
            </button>
        </div>
        <label style="font-family: Verdana, sans-serif;font-size: 20px;color:#881010">{{nameCurrentChain}} </label>
    </div>

    <div class="login-container-form">
        <!-- txRequestCode -->
        <div class="row div-solicitud-form div-solicitud-form-label">
            <div class="col">
                <label>Código de Solicitud: </label>
            </div>
            <div class="col div-solicitud-input">
                <input type="text" [(ngModel)]="codrequest" class="form-control input-request" readonly>
            </div>
        </div>
    </div>
    <div class="login-container-form">
        <!-- txRequestCode -->
        <div class="row div-solicitud-form div-solicitud-form-label">
            <div class="col">
                <label>Tipo de solicitud: </label>
            </div>
            <div class="col div-solicitud-input">
                <input type="text" [(ngModel)]="typerequest" class="form-control input-request" readonly>
            </div>
        </div>
    </div>
    <div class="login-container-form">
        <!-- txRequestCode -->
        <div class="row div-solicitud-form div-solicitud-form-label">
            <div class="col">
                <label>Fecha de Solicitud: </label>
            </div>
            <div class="col div-solicitud-input">
                <input type="text" [(ngModel)]="dtCreation" date="dd/mm/yyyy" class="form-control input-request"
                    readonly>
            </div>
        </div>
    </div>
    <div class="login-container-form">
        <!-- txRequestCode -->
        <div class="row div-solicitud-form div-solicitud-form-label">
            <div class="col">
                <label>Nit: </label>
            </div>
            <div class="col div-solicitud-input">
                <input type="text" [(ngModel)]="nit" class="form-control input-request" readonly>
            </div>
        </div>
    </div>
    <div class="login-container-form">
        <!-- txRequestCode -->
        <div class="row div-solicitud-form div-solicitud-form-label">
            <div class="col">
                <label>Nombre del cliente: </label>
            </div>
            <div class="col div-solicitud-input">
                <input type="text" [(ngModel)]="company" class="form-control input-request" readonly>
            </div>
        </div>
    </div>
</div>

<form enctype="multipart/form-data">
    <div style="background-color:  white;padding: 30px;">
        <div class="table-responsive-xl">
            <h6 *ngIf=" (lista | json) === '[]' ">No se encontraron preguntas parametrizadas en el sistema</h6>
            <!--
            <div style="text-align: right;">
                <button type="button" class="btn btn-link" style="color:black" (click)="regresarflujo()">Regresar a la
                    lista</button>
            </div>
            -->
            <div *ngFor="let item of lista" class="form-goup" style="margin: 15px;">
                <!-- archivos solamente -->
                <div *ngIf="item.typeValidation === 1">
                    <div class="form-group div-gestion-form-file">
                        <div class="div-gestion-form">
                            <label for="file">{{item.nuOrdering}}. {{item.txQuestions}}</label>
                        </div>
                        <!--
                             <input [ngModelOptions]="{standalone: true}" type="file"  (change)="handleFileInput($event.target.files)" multiple
                            [(ngModel)]="item.answer" />
                        -->
                        <div class="div-gestion-form-name-file">
                            <label *ngFor="let archivo of fileToUpload;let indice=index" class="col">{{archivo.name}}
                                <button type="button" class="btn btn-link" style="color:#881010"
                                    (click)="eliminarArchivo(indice)">X</button></label>
                        </div>
                        <div class="div-gestion-form-quest">
                            <input [ngModelOptions]="{standalone: true}" type="file"
                                (change)="handleFileInput($event.target.files)" multiple [(ngModel)]="item.files" />
                            <div class="alert alert-danger" *ngIf="item.watch === 'S'">{{item.messagewrite}}</div>
                        </div>

                    </div>
                </div>
                <!-- Preguntas cerradas solamente -->
                <div *ngIf="item.typeValidation === 2 || item.typeValidation === 3 || item.typeValidation === 4"
                    class="div-gestion-form-file">
                    <div class="form-goup div-gestion-form">
                        <label>{{item.nuOrdering}}. {{item.txQuestions}}</label>
                    </div>
                    <div *ngIf="item.typeValidation === 2 || item.typeValidation === 3"
                        class="form-goup div-gestion-form-quest">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" value="1" id="{{item.cdControlChain}}1"
                                [(ngModel)]="item.answer" name="{{item.cdControlChain}}" mdbInput>
                            <label class="custom-control-label" for="{{item.cdControlChain}}1">Si</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" value="0" id="{{item.cdControlChain}}2"
                                [(ngModel)]="item.answer" name="{{item.cdControlChain}}" mdbInput>
                            <label class="custom-control-label" for="{{item.cdControlChain}}2">No</label>
                        </div>
                        <div class="alert alert-danger" *ngIf="item.watch === 'S'">{{item.messageradio}}</div>

                        <!-- Preguntas cerradas y observaciones sin requerir lescribir la observacion-->
                        <div *ngIf="item.typeValidation === 3">
                            <textarea [(ngModel)]="item.observation" cols="40" rows="3" class="form-control"
                                [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                        <div class="alert alert-danger" *ngIf="item.watch === 'S'">{{item.messagewrite}}</div>
                        <div *ngIf="item?.observation?.length > 500" class="alert alert-danger">¡La cantidad máxima de caracteres es de 500!</div>

                    </div>
                    <div class="form-goup div-gestion-form-quest">
                        <!-- Observaciones requieren escribir la observacion-->
                        <div *ngIf="item.typeValidation === 4">
                            <textarea [(ngModel)]="item.observation" cols="40" rows="3" class="form-control"
                                [ngModelOptions]="{standalone: true}" minlength="250"></textarea>
                            <div class="alert alert-danger" *ngIf="item.watch === 'S'">{{item.messagewrite}}</div>
                            <div *ngIf="item?.observation?.length > 500" class="alert alert-danger">¡La cantidad máxima de caracteres es de 500!</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-goup" style="float: left;">
                <button type="button" class="btn float-right button-save-request"
                    (click)="validarRespuestas(lista)">Almacenar
                    respuestas</button>
            </div>
            <div *ngIf="btnconfirmartarea" style="float: right;">
                <button type="button" class="btn float-right button-save-request"
                    (click)="validarPreguntasNextEslabon()">Confirmar tarea</button>
            </div>
        </div>
    </div>
</form>

<router-outlet></router-outlet>