<div class="d-flex justify-content-center">
    <label style="font-family: Verdana, sans-serif;font-size: 20px;color:#881010">Hoja de trabajo</label>
</div>
<form class="form-group" [formGroup]="listRequestsForm">
    <div class="row">
        <div class="col">
            <div class="row d-flex justify-content-center">
                <div class="col-7">
                    <div class="row">
                        <div class="col">
                            <div class="col div-solicitud-input column-checkbox-3">
                                <div class="form-check" style="padding-bottom:0.25rem">
                                    <label class="form-check-label">
                                        <input type="radio" id="rdresfilto" class="form-check-input"
                                            formControlName="rdresfilto" value="1">
                                        Nit
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="rdresfilto" class="form-check-input"
                                            formControlName="rdresfilto" value="2">
                                            Código Solicitud
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="rdresfilto" class="form-check-input"
                                            formControlName="rdresfilto" value="3" checked>
                                        Todo lo asignado
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div style="position: relative">
                                <i class="fas fa-search" style="position: absolute;
                                                                        padding: 10px;
                                                                        top:2px;
                                                                        pointer-events: none;left:  0px;"></i>

                                <input type="text" style="padding-left:  30px;padding-right: 105px;height: 40px;"
                                    class="form-control input-request" name="txtfiltro" formControlName="txtfiltro"
                                    required>
                                <div style="position: absolute;right: 0px;top: 0px">
                                    <button class="btn button-search-request btn-sm" style="height: 40px;width: 100px"
                                        type="button" (click)="onSearch()">Consultar</button><br /><br>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-2" style="margin:0; padding:0; height:50px;">
                        <div>
                            <button class="btn button-search-request" type="button" (click)="onSearch()">Consultar</button><br /><br>
                        </div>

                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isSearch && lista.length == 0" class="alert alert-warning div-alert-error">
        <i>No se encontró ningún resultado para la búsqueda realizada</i>
    </div>
    <br>
    <br>
    <div *ngIf="lista.length > 0">
        <table id="tabla-solicitud" datatable class="table table-bordered table-hover table-sm">
            <thead class="table-header text-center">
                <tr>
                    <th style="width:5%">Tipo solicitud</th>
                    <th style="width:5%;">Código</th>
                    <th style="width:10%;">Cliente</th>
                    <th style="width:5%;">Fecha Solicitud</th>
                    <th style="width:10%;">Estado Solicitud</th>
                    <th style="width:10%;">Nit</th>
                    <th style="width:12%;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of lista">
                    <td>{{item.typerequest}}</td>
                    <td>{{item.codrequest}}</td>
                    <td>{{item.empresa}}</td>
                    <td>{{item.dtCreation | date:'dd/MM/yyyy'}}</td>
                    <td>{{item.nameCurrentChain}}</td>
                    <td>{{item.nit}}</td>
                    <td>
                        <button *ngIf="rol != 'AdministradorTI_SICERT'" title="Gestionar solicitud" class="btn button-manage"
                            (click)="gestionarsolicitud(item)">
                            <i style="font-size: 25px; color:#881010" class="far fa-play-circle"></i>

                        </button>

                        <button title="Listar archivos" class="btn button-manage" (click)="listararchivos(item)">
                            <i class="fas fa-file-alt" style="font-size:24px; color:#881010"></i>

                        </button>

                        <button title="Gestionar plantilla" class="btn button-manage"
                            (click)="gestionarplantilla(item)">
                            <i class="fas fa-table" style="font-size:24px; color:#881010"></i>

                        </button>

                        <!--<button type="button" [ngStyle]="{'display':dni==item.txCreationUser?'inline':'none'}" title="Asignar Solicitud" -->
                        <button *ngIf="rol != 'AdministradorTI_SICERT'" type="button" [ngStyle]="{'display': 'inline'}" title="Asignar Solicitud"
                            class="btn button-manage" (click)="asignarSolicitud(item)">
                            <i style="font-size: 25px; color:#881010" class="fas fa-user-check"></i>
                        </button>
                        <button type="button" title="Nueva evaluación" [ngStyle]="{'display': 'inline'}"
                            class="btn button-manage" (click)="nuevaEvaluacion(item)">
                            <i class="fas fa-sliders-v" style="font-size:24px; color:#881010"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>