<!DOCTYPE html>
<html>

<head>
    <title>Cafecert - Cambiar contraseña</title>
</head>
<div class="d-flex justify-content-center">
    <label style="font-family: Verdana, sans-serif;font-size: 20px;color:#881010">Cambiar contraseña</label>
</div>

<div class="login-container">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login-container-form">
            <div class="row">
                <div class="col">
                    <label class="label-login">Ingresa nueva contraseña</label>
                    <input type="password" formControlName="newpassword" minlength="8" required 
                        placeholder="Nueva contraseña" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors}" />
                    <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newpassword.errors.required">Nueva contraseña es requerida</div>
                        <div *ngIf="f.newpassword.errors.minlength">Por favor verifique los datos ingresados, la nueva
                            contraseña
                            debe tener una longitud mínima de 8 caracteres.</div>
                        <div *ngIf="f.newpassword.errors.maxlength">Por favor verifique los datos ingresados, la nueva
                            contraseña
                            debe tener una longitud máxima de 20 caracteres.</div>
                        <div *ngIf="f.newpassword.errors.pattern">Por favor verifique los datos ingresados, la nueva
                            contraseña
                            debe contener letras y números.</div>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="label-login">Confirmar la nueva contraseña</label>
                    <input type="password" formControlName="confirmpassword" minlength="8" required
                        placeholder="Confirma contraseña" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors}" />
                    <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmpassword.errors.required">Confirmación nueva contrseña es requerida</div>
                        <div *ngIf="f.confirmpassword.errors.minlength">Por favor verifique los datos ingresados, la nueva
                            contraseña
                            debe tener una longitud mínima de 8 caracteres.</div>
                        <div *ngIf="f.confirmpassword.errors.maxlength">Por favor verifique los datos ingresados, la nueva
                            contraseña
                            debe tener una longitud máxima de 20 caracteres.</div>
                        <!--<div *ngIf="f.confirmpassword.errors.pattern">Por favor verifique los datos ingresados, la nueva
                            contraseña
                            debe contener letras y números.</div>-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button [disabled]="loading" class="btn  btn-login">Cambiar contraseña</button>
                    <button title="Iniciar sesion" class="btn button-manage" (click)="volveralogin()">
                        <label class="label-login" style="cursor: pointer">Log In</label>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

</html>